@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;

  --color-secondary: #3b82f6;
  --color-secondary-hover: #2563eb;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #f43f5e;

  --color-dark: #1e293b;
  --color-light: #f8fafc;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}